body {
  font-size: 12px;
  line-height: 1.5;
  background: #f8f8f8;
  overflow-x: hidden; }

img {
  display: block; }

ul, li, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #a5c7db; }

i, b, em, .cart_list .cart_list_footer .btn_price #price_all strong {
  font-style: normal; }

.wrapper {
  width: 1500px;
  margin: 0 auto;
  color: #a5c7db; }

.clear::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden; }

h1, h2, h3, h4, h5 {
  text-align: center; }

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  color: antiquewhite;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.top {
  height: 33px;
  background-color: #0069aa;
  border-bottom: 1px solid #005c9d; }
.top .wrapper {
  width: 1500px;
  margin: 0 auto;
  position: relative; }
.top .clear::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden; }
.top div {
  color: #a5c7db; }
.top .welcome {
  float: left;
  position: relative; }
.top .welcome .line {
  padding: 0 5px;
  font-style: normal;
  line-height: 33px; }
.top .welcome a {
  color: #fff;
  transition: all 0.3s; }
.top .welcome a:hover {
  text-decoration: underline; }
.top .login_info {
  float: left;
  position: relative;
  line-height: 34px; }
.top .login_info a {
  color: #fff;
  transition: all 0.3s; }
.top .login_info a:hover {
  text-decoration: underline; }

.top_nav ul {
  position: absolute;
  right: 0; }
.top_nav > ul > li {
  float: left;
  margin-top: 4px;
  line-height: 33px;
  position: relative;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
.top_nav > ul > li i {
  margin-left: 5px;
  display: inline-block;
  transition: all 0.3s; }
.top_nav > ul > li:hover {
  background: #015c92;
  border: 1px solid #015789; }
.top_nav > ul > li:hover > a {
  color: white; }
.top_nav > ul > li:hover > a i {
  color: white;
  transform: rotate(180deg); }
.top_nav > ul > li:hover:hover .list {
  display: block; }
.top_nav > ul > li a {
  width: 68px;
  height: 24px;
  line-height: 24px;
  display: block;
  padding: 0 10px; }
.top_nav .trangle {
  border-width: 0 6px 6px;
  border-bottom-color: #fff;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  overflow: hidden;
  top: -6px;
  left: 50%;
  margin-left: -6px;
  color: transparent; }
.top_nav .list {
  display: none;
  position: absolute;
  z-index: 100;
  top: 33px;
  right: -5px !important;
  background: #fff;
  right: 0;
  padding: 10px 0;
  border: 1px solid #ccc; }
.top_nav .list a {
  width: 80px;
  color: #555;
  line-height: 24px; }
.top_nav .list a:hover {
  color: #015c92; }
.top_nav .qrcode img {
  margin: 5px 8px;
  width: 82px;
  height: 82px; }
.top_nav .qrcode {
  width: 200px;
  height: 117px; }
.top_nav .qrcode li {
  float: left;
  text-align: center; }
.top_nav .qrcode li p {
  line-height: 16px; }
.top_nav .qrcode .trangle {
  left: 75%; }

.header {
  height: 67px;
  background-color: #0069aa;
  border-top: 1px solid #0772b4; }
.header .logo {
  float: left;
  overflow: hidden; }
.header .logo a {
  display: block; }
.header .logo img {
  width: 223px;
  height: 67px; }
.header .address {
  height: 67px;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 20px;
  line-height: 67px;
  float: left; }
.header .address i {
  margin: 0 5px;
  color: #fff; }
.header .address strong {
  font-size: 14px; }
.header .chgadress {
  float: left;
  cursor: pointer;
  margin: 20px 10px 3px 10px;
  width: 74px;
  height: 24px;
  background-color: #1a78b3;
  text-align: center;
  border: 1px solid #79aece; }
.header .chgadress span {
  line-height: 24px; }
.header .toutiao {
  line-height: 67px; }
.header .toutiao div {
  float: left; }
.header .toutiao ul {
  float: left; }
.header .toutiao ul li {
  margin-left: 5px;
  word-break: break-all; }
.header .toutiao ul li a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
.header .toutiao ul li a:hover {
  color: white;
  text-decoration: underline; }

.header_right .search input, .header_right .search button {
  outline: none;
  border: none; }

.header_right {
  float: right; }
.header_right .search {
  float: left;
  line-height: 67px;
  position: relative; }
.header_right .search .search_news {
  display: none;
  padding: 18px 0 25px;
  border: 1px solid #dcdbdc;
  background: #fff;
  position: absolute;
  top: 54px;
  left: 0;
  background: #fff;
  width: 350px;
  z-index: 3000; }
.header_right .search .search_news li {
  height: 30px;
  line-height: 30px;
  text-indent: 20px; }
.header_right .search .search_news li:nth-child(1) {
  padding: 10px 0;
  font-size: 14px;
  color: #999; }
.header_right .search .search_news li a {
  display: block;
  color: #999;
  transition: all 0.3s; }
.header_right .search .search_news li a:hover {
  background: #f4f4f4; }
.header_right .search input {
  width: 350px;
  height: 34px;
  color: white;
  background-color: #015c92;
  border: 1px solid #015789;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
.header_right .search button {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -13px;
  background: none; }
.header_right .cart {
  float: left;
  margin-left: 35px;
  margin-right: 10px;
  margin-top: 5px;
  position: relative; }
.header_right .cart span:nth-child(1) {
  font-size: 34px; }
.header_right .cart span:nth-child(2) {
  font-size: 16px;
  color: #ffc222;
  position: absolute;
  left: 10px;
  top: 8px; }

#mask {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.7); }
#mask .address {
  padding: 100px 90px 200px;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  width: 900px;
  top: 250px;
  background: #f7f7f7;
  text-align: center;
  font-size: 15px;
  border: 1px solid #e0e0e0; }
#mask .address .contents {
  height: 45px;
  line-height: 45px; }
#mask .address a {
  color: #fff; }
#mask .address .drop {
  vertical-align: middle;
  display: inline-block;
  height: 45px;
  padding: 0 25px 0 15px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #0069aa;
  position: relative; }
#mask .address .drop em, #mask .address .drop .cart_list .cart_list_footer .btn_price #price_all strong, .cart_list .cart_list_footer .btn_price #price_all #mask .address .drop strong {
  position: absolute;
  right: 5px;
  top: 20px;
  color: #fff;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: solid; }
#mask .address .close_btn {
  cursor: pointer;
  position: absolute;
  width: 20px;
  line-height: normal;
  height: 20px;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #ccc; }
#mask .address .close_btn:hover {
  color: #999; }
#mask .address input {
  margin-left: -4px;
  vertical-align: middle;
  height: 15px;
  padding: 14px 30px;
  line-height: 15px;
  font-size: 14px;
  outline: none;
  border: 1px solid #0069aa;
  width: 400px; }
#mask .address .search {
  display: inline-block;
  width: 118px;
  margin: 0 6px;
  background-color: #0069aa; }
#mask .address .add_address {
  display: inline-block;
  width: 118px;
  background: #5e9732; }

.nav {
  height: 40px;
  background: #004b8d; }
.nav li {
  float: left;
  position: relative;
  line-height: 40px;
  font-size: 14px;
  /* &:hover .subnav{
      display: block;
  } */ }
.nav li:hover a {
  color: #004b8d;
  background: #f1f1f1; }
.nav li a {
  color: #fff;
  display: block;
  padding: 0 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
.nav li a:hover {
  color: #004b8d; }

.sb1 {
  left: -2px; }

.sb2 {
  left: -2px; }

.sb3 {
  left: -2px; }

.sb4 {
  left: -2px; }

.sb5 {
  left: -2px; }

.sb6 {
  left: -2px; }

.sb7 {
  left: -2px; }

.subnav {
  display: none;
  position: absolute;
  z-index: 10;
  top: 40px;
  background: #f1f1f1;
  width: 1500px;
  padding: 15px 0 20px 20px;
  border: 2px solid #004b8d;
  border-top: none; }
.subnav .sub_item {
  float: left;
  width: 115px;
  padding-right: 10px; }
.subnav .sub_item dt {
  border-bottom: 1px solid #333;
  margin-bottom: 8px;
  height: 35px;
  font-weight: bold; }
.subnav .sub_item dl {
  font-size: 12px; }
.subnav .sub_item dl a {
  display: block;
  width: 75px;
  height: 25px;
  line-height: 25px; }
.subnav .sub_item a {
  color: #333;
  padding: 0; }
.subnav .sub_item a:hover {
  color: #0069aa; }

body {
  background: #fff; }

#delete {
  display: none;
  position: fixed;
  padding: 10px 40px;
  padding-top: 30px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  margin-left: -170px;
  margin-top: -95px;
  top: 50%;
  left: 50%;
  z-index: 20;
  border: 5px solid #b8b8b8; }
#delete .close_btn a {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ccc; }
#delete .close_btn a:hover {
  color: #999; }
#delete h3 {
  margin: 15px 0;
  font-size: 14px; }
#delete .btn {
  display: inline-block;
  vertical-align: middle;
  width: 130px;
  height: 33px;
  margin: 0 3px;
  line-height: 33px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px; }
#delete .btn_ok {
  background: #0069aa;
  color: #fff; }
#delete .btn_cancel {
  color: #333; }

#cart .wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  color: #666; }
#cart .cart_header {
  padding-top: 40px; }
#cart .cart_header h2 {
  width: 110px;
  float: left;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #0069aa; }
#cart .cart_header .jsd {
  height: 50px;
  float: left;
  margin-left: 15px;
  line-height: 50px; }
#cart .cart_header .iconfont {
  font-size: 12px;
  height: 15px;
  margin-right: 5px;
  line-height: 50px;
  border: 1px solid #d6d6d6;
  cursor: pointer; }
#cart .tips {
  float: right;
  height: 50px;
  position: relative; }
#cart .tips p {
  position: absolute;
  right: 35px;
  bottom: 10px;
  width: 330px;
  padding: 10px;
  border: 1px solid #e5debc;
  background: #fff7d1;
  color: #977a6f; }
#cart .tips .iconfont {
  border: none;
  font-size: 26px;
  color: #666; }
#cart .empty {
  position: relative;
  height: 450px;
  margin-bottom: 20px;
  background: #fafafa url("http://image.samsclub-estore.com/front-shopping/img/cart/kong-img.png") no-repeat center 70px;
  box-sizing: border-box;
  border: 1px solid #e3e3e3; }
#cart .empty p {
  position: absolute;
  bottom: 185px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #666;
  width: 100%;
  text-align: center; }
#cart .empty .btn {
  color: #fff;
  position: absolute;
  bottom: 90px;
  text-align: center;
  line-height: 54px;
  height: 54px;
  left: 50%;
  background: #0069aa;
  margin-left: -108px;
  width: 220px;
  font-size: 18px; }

.cart_list .cart_list_header h3 i, .cart_list .cart_list_header a i {
  margin: 5px 0 0 10px;
  color: #666; }

.cart_list .cart_list_info span, .cart_list .cart_list_data > div {
  color: #666;
  float: left;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 160px; }

.cart_list {
  display: none;
  border: 1px solid #e3e3e3; }
.cart_list .cart_list_header {
  height: 30px;
  padding: 10px 15px;
  line-height: 30px;
  background: #fafafa;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  box-align: center;
  align-items: center;
  justify-content: space-between;
  color: #666; }
.cart_list .cart_list_header h3 {
  font-size: 18px; }
.cart_list .cart_list_header h3 i {
  font-size: 18px; }
.cart_list .cart_list_header a {
  color: #666; }
.cart_list .cart_list_header a i {
  font-size: 16px;
  margin-right: 10px; }
.cart_list .cart_list_header .youhui {
  height: 26px;
  padding: 24px 0 15px; }
.cart_list .cart_list_header .youhui .youhui_quan {
  float: left;
  width: 80px;
  position: relative;
  height: 20px;
  line-height: 20px;
  margin: 0 18px 0 10px;
  font-size: 10px;
  text-align: center;
  padding-left: 5px;
  color: #ff4902;
  background-color: #fdeae2;
  border: 1px solid #ff4902;
  border-width: 1px 0 1px 0;
  cursor: pointer; }
.cart_list .cart_list_header .youhui .youhui_quan::before {
  content: '';
  position: absolute;
  top: -1px;
  width: 10px;
  height: 22px; }
.cart_list .cart_list_header .youhui .youhui_quan::after {
  content: '';
  position: absolute;
  top: -1px;
  width: 10px;
  height: 22px; }
.cart_list .cart_list_header .youhui .youhui_quan::after {
  right: -10px;
  visibility: visible !important;
  position: absolute;
  background: url("http://image.samsclub-estore.com/front-detail/samsclub/img/detail/pc-small-orange-right.png?1856369") no-repeat; }
.cart_list .cart_list_header .youhui .youhui_quan:before {
  left: -10px;
  background: url("http://image.samsclub-estore.com/front-detail/samsclub/img/detail/pc-small-orange-left.png?1856369") no-repeat center; }
.cart_list .cart_list_info span:nth-child(1) {
  width: 50px; }
.cart_list .cart_list_info span:nth-child(2) {
  width: 325px; }
.cart_list .cart_list_info input {
  width: 14px;
  height: 14px; }
.cart_list .cart_list_data {
  height: 90px;
  padding: 20px 0;
  border-top: 1px solid #efefef; }
.cart_list .cart_list_data > div {
  height: 90px;
  text-align: center; }
.cart_list .cart_list_data > div a {
  vertical-align: text-top;
  color: #666; }
.cart_list .cart_list_data > div a img {
  width: 90px;
  height: 90px;
  margin: 0 10px; }
.cart_list .cart_list_data > div:nth-child(1) {
  width: 50px; }
.cart_list .cart_list_data > div:nth-child(2) {
  width: 325px; }
.cart_list .cart_list_data .cart_title a {
  float: left; }
.cart_list .cart_list_data .cart_title h6 {
  float: left; }
.cart_list .cart_list_data .cart_num .calc {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #dfdfdf;
  position: relative; }
.cart_list .cart_list_data .cart_num .calc > a {
  text-align: center;
  font-size: 14px;
  position: absolute; }
.cart_list .cart_list_data .cart_num .calc > a:nth-of-type(1) {
  left: 6px; }
.cart_list .cart_list_data .cart_num .calc > a:nth-of-type(2) {
  right: 6px; }
.cart_list .cart_list_data .cart_num .calc > a:hover {
  color: #0069aa; }
.cart_list .cart_list_data .cart_num .text_num {
  display: inline-block;
  width: 46px;
  height: 20px;
  line-height: 20px;
  margin-top: 3px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf; }
.cart_list .cart_list_data .cart_num .text_num input {
  text-align: center;
  outline: none;
  border: none;
  width: 100%; }
.cart_list .cart_list_data .cart_del {
  line-height: normal; }
.cart_list .cart_list_data .cart_del a {
  font-size: 16px;
  display: inline-block;
  margin-top: 18px; }
.cart_list .cart_list_data .cart_sum {
  font-size: 14px;
  font-weight: bold;
  color: #0069aa; }
.cart_list .cart_list_footer {
  background: #f8f8f8;
  height: 60px;
  border-top: 1px solid #e3e3e3; }
.cart_list .cart_list_footer .info_footer {
  float: left; }
.cart_list .cart_list_footer .info_footer ul {
  height: 100%;
  overflow: hidden; }
.cart_list .cart_list_footer .info_footer li {
  text-align: center;
  margin-top: 10px;
  float: left;
  width: 48px;
  height: 60px;
  padding: 0 10px;
  line-height: 20px; }
.cart_list .cart_list_footer .info_footer li:nth-child(1) {
  margin-left: 50px;
  width: 60px;
  line-height: 40px; }
.cart_list .cart_list_footer .info_footer li:nth-child(1) a {
  color: #0069aa; }
.cart_list .cart_list_footer .btn_price {
  float: right; }
.cart_list .cart_list_footer .btn_price a {
  float: right;
  width: 120px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #6cae38;
  color: #fff;
  font-size: 18px; }
.cart_list .cart_list_footer .btn_price #price_all {
  float: right;
  margin-right: 20px; }
.cart_list .cart_list_footer .btn_price #price_all span:nth-child(1) {
  display: block;
  line-height: 30px; }
.cart_list .cart_list_footer .btn_price #price_all em, .cart_list .cart_list_footer .btn_price #price_all strong {
  color: #0069aa;
  font-size: 18px; }
.cart_list .cart_list_footer .btn_price #price_all strong {
  padding-right: 10px; }

.footer {
  margin-top: 15px;
  background-color: #ebebeb;
  border-top: 30px #e6e6e6 solid; }
.footer a {
  color: #333; }
.footer a:hover {
  color: #0069aa; }
.footer dl {
  float: left;
  width: 14%;
  margin-right: 3px;
  line-height: 30px;
  margin-top: -30px;
  padding-bottom: 30px;
  color: #333; }
.footer dl:nth-child(1) {
  text-align: center; }
.footer dl dt {
  margin-bottom: 10px; }
.footer img {
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 120px; }
.footer .footer_copyright {
  text-align: center;
  padding-bottom: 40px; }
.footer .footer_copyright p {
  line-height: 25px;
  color: #333; }

/*# sourceMappingURL=carts.css.map */
