@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  color: antiquewhite;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

header {
  background: #f8f8f8; }
header .logo {
  width: 190px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center; }
header .logo img {
  display: inline-block;
  width: 100px;
  height: 100px; }
header .logo .title {
  width: 100%;
  height: 50px;
  position: relative;
  border-top: 2px solid  #ccc;
  margin-top: 30px; }
header .logo .title span {
  width: 90px;
  position: absolute;
  background: #f8f8f8;
  top: -12px;
  left: 50%;
  margin-left: -45px;
  font-size: 20px; }

.weak em:nth-of-type(1) {
  background-color: #5dbcfa !important; }

.medium em:nth-of-type(1) {
  background-color: #5dbcfa !important; }
.medium em:nth-of-type(2) {
  background: #3d9fdf !important; }

.strong em:nth-of-type(1) {
  background-color: #5dbcfa !important; }
.strong em:nth-of-type(2) {
  background: #3d9fdf !important; }
.strong em:nth-of-type(3) {
  background: #1b84c8 !important; }

.verystrong em:nth-of-type(1) {
  background-color: #5dbcfa !important; }
.verystrong em:nth-of-type(2) {
  background: #3d9fdf !important; }
.verystrong em:nth-of-type(3) {
  background-color: #5dbcfa !important; }
.verystrong em:nth-of-type(4) {
  background: #006aaf !important; }

.reg {
  text-align: center;
  width: 440px;
  margin: 50px auto; }
.reg .vip {
  margin-bottom: 30px; }
.reg .vip::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden; }
.reg .vip a {
  width: 45%;
  float: left;
  border-radius: 4px;
  position: relative;
  padding-bottom: 30px;
  border: 2px solid #e5e5e5;
  background: #f8f8f8;
  box-sizing: border-box; }
.reg .vip a:first-child {
  margin-right: 9%; }
.reg .vip a:hover {
  border: 2px solid #0799c9;
  background: #fff; }
.reg .vip em {
  margin: 30px 0 24px;
  text-align: center;
  display: block;
  font-size: 40px;
  color: #0799c9; }
.reg .vip .active {
  border: 2px solid #0799c9;
  background: #fff; }
.reg .vip .active span {
  display: block; }
.reg .vip span {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  display: none;
  border: 1px solid #0799c9;
  position: absolute;
  line-height: 28px;
  text-align: center;
  top: -5px;
  right: -5px; }
.reg .vip span i {
  color: #0799c9;
  font-size: 17px; }
.reg .vip b {
  color: #222; }
.reg .vip_reg {
  display: none; }
.reg .vip_reg select {
  color: #aaa;
  width: 30%;
  height: 36px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 3px; }
.reg .vip_reg select:nth-child(2) {
  margin: 0 18px; }
.reg #register {
  color: #aaa;
  font-size: 12px; }
.reg #register .reg_input {
  text-indent: 10px;
  width: 100%;
  height: 36px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #e5e5e5; }
.reg #register p {
  text-align: left;
  font-size: 12px;
  text-indent: 10px;
  height: 32px;
  line-height: 32px; }
.reg #register .pwd_left {
  float: left; }
.reg #register .default_strong {
  float: right;
  line-height: 32px; }
.reg #register .default_strong em {
  display: inline-block;
  width: 6px;
  height: 12px;
  background-color: #d0d0d0;
  margin-left: 4px;
  border-radius: 1px; }
.reg #register .register_code::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden; }
.reg #register .register_code .vali_code {
  float: left;
  width: 60%; }
.reg #register .register_code a {
  text-align: center;
  line-height: 36px;
  float: right;
  display: inline-block;
  width: 35%;
  height: 38px;
  color: #ccc;
  background: #eee; }
.reg .reg_footer {
  color: #333; }
.reg .reg_footer input {
  vertical-align: middle; }
.reg .onsubmit {
  cursor: pointer;
  outline: none;
  border: none;
  width: 220px;
  margin: 0 auto;
  color: #fff;
  height: 50px;
  line-height: 50px;
  background: #006aaf;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0; }
.reg .onsubmit:hover {
  background: #005f9e; }

/*# sourceMappingURL=register.css.map */
